{{- $isWorkComputer := false }}
{{- $isNixOS := false }}
{{- if eq (env "REMOTE_CONTAINERS") "true" }}
sourceDir = "{{ .chezmoi.homeDir }}/dotfiles"
{{- else }}
{{-   $isWorkComputer = promptBoolOnce . "isWorkComputer" "Is this a work computer" }}
{{- end }}
{{- if eq .chezmoi.os "linux" }}
{{-   if hasKey .chezmoi.osRelease "id" }}
{{-     $isNixOS = eq .chezmoi.osRelease.id "nixos" }}
{{-   end }}
{{- end }}

[data]
    isWorkComputer = {{ $isWorkComputer }}
    isNixOS = {{ $isNixOS }}
