{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=- <<EOF
{{- if not .isWorkComputer }}
tap "anomalyco/tap"
brew "git"
brew "htop"
brew "mas"
brew "anomalyco/tap/opencode"
brew "ykman"
brew "mise"
cask "1password-cli"
cask "1password"
cask "adobe-acrobat-reader"
cask "bartender"
cask "chatgpt"
cask "firefox"
cask "elgato-control-center"
cask "hey-desktop"
cask "mdrp"
cask "steam"
cask "telegram"
cask "viscosity"
cask "vlc"
cask "whatsapp"
cask "xld"
mas "Keynote", id: 409183694
mas "Amphetamine", id: 937984704
mas "Parachute Backup", id: 6748614170
{{- end }}
brew "starship"
cask "basecamp"
cask "dash"
cask "docker-desktop"
cask "elgato-camera-hub"
cask "font-fira-code-nerd-font"
cask "google-chrome"
cask "gpg-suite"
cask "ghostty"
cask "visual-studio-code"
EOF
{{ end -}}
